.cat {
    text-align: center;
    margin-top: 50px;
}
.cat img {
    height: 175px;
    width: 225px;
}

.angry {
    color: aliceblue;
    text-shadow: 2px 2px 4px rgb(245, 11, 11);
}

.click {
    margin-left: 530px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: linear-gradient(#f62dc4, #f50823, #8E2DE2);
    padding: 20px 70px;
    border-radius: 10px;
    background-size: 200%;
    transition: .5s;
    border: 2px solid rgb(255, 255, 255);
}